<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         failOnDeprecation="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
>
  <coverage/>
  <php>
    <ini name="memory_limit" value="-1"/>
    <ini name="apc.enable_cli" value="1"/>
  </php>
  <testsuites>
    <testsuite name="Tests">
      <directory>tests</directory>
      <exclude>tests/Test.php</exclude>
      <exclude>tests/SpeedTest.php</exclude>
    </testsuite>
    <testsuite name="SpeedTest">
      <file>tests/SpeedTest.php</file>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="tmp/phpunit-report.xml"/>
  </logging>
  <source>
    <include>
      <directory suffix="Test.php">src</directory>
    </include>
  </source>
</phpunit>
